extends ../loyout

block variables
    - var title= "Новый проект"
block content
    section.hero
        aside.aside
            .aside__logo   
                a.logo(href="#")
                    img.logo__img(src="images/content/logo.png", alt="")
            .acord
                .acord__block.acord__block--one Для дома
                .acord__block.acord__block--two
                    //- ul.aside-list
                    //-     li.aside-list__item Услуги 
                    //-     li.aside-list__item Инструменты
                    //-     li.aside-list__item Документы
                    //-     li.aside-list__item Тарифы
                .acord__block.acord__block--three Для бизнеса
        .main
            .menu
                a.menu__btn-back(href="") Весь сайт
                .menu__content
                    .menu__block
                        ul.menu__list
                            li.menu__item
                                a.menu__link(href="#") О компании
                            li.menu__item
                                a.menu__link(href="#") Отзывы
                            li.menu__item
                                a.menu__link(href="#") Вакансии
                            li.menu__item
                                a.menu__link(href="#") Контакты
                        ul.menu__list
                            li.menu__item
                                a.menu__link(href="#") Услуги
                            li.menu__item
                                a.menu__link(href="#") Инструкции
                            li.menu__item
                                a.menu__link(href="#") Документы
                            li.menu__item
                                a.menu__link(href="#") Тарифы
                    .menu__block
                        ul.menu__list
                            li.menu__item
                                a.menu__link(href="#") Личный кабинет
                            li.menu__item
                                a.menu__link(href="#") Подключиться
                            li.menu__item
                                a.menu__link(href="#") Техподдержка
                            li.menu__item
                                a.menu__link(href="#") База знаний
                        ul.menu__list
                            li.menu__item
                                a.menu__link(href="tel:+79285066700") +7 (928) 506-67-00
                            li.menu__item
                                a.menu__link(href="#") Задать вопрос
                    a.like-vk(href="") Нравится
                        span.like-vk__num 1
            .main__top
                .burger
                    .burger__line.burger__line--1
                    .burger__line.burger__line--2
                    .burger__line.burger__line--3
                ul.nav-list
                    li.nav-list__item
                        a.nav-list__item_link(href="#") О компании 
                    li.nav-list__item
                        a.nav-list__item_link(href="#") Техподдержка
                    li.nav-list__item
                        a.nav-list__item_link(href="#") Подключиться
            h1.main__title 
                span.main__title_span.light-24 Безлимитный интернет
                span.main__title_span.medium-65 DN-650 за 500 руб/мес
                span.main__title_span.regular-14 Скорость входящего/исходящего канала, Кбит/с днем 14000, ночью 20000
            a.btn(href="#") Подключиться 
        .slider
            .slider__wrap.owl-carousel
                .slider__block
                    .card.card-promo
                        .card-promo__pic(style="background-image:url(images/content/img1.jpg)")
                        .card-promo__content
                            p Телевизионные каналы в цифровом качестве на основе технологии IP (IPTV)
                            .date 28 ЯНВАРЯ 2016
                    .card.card-news
                        .card-news__date 11 февраля 2016 в 4:34
                        .card-news__content
                            p Произошла авария с обрывом линий сетей интренет на пересечении улиц Грозненская и Тотурбиева…
                    .card.card-map
                        .card-map__adres
                            .card-map__adres_top
                            .card-map__adres_bottom
                .slider__block
                    .card.card--orange
                    .card.card--beige
                    .card.card--light-beige
                    .card.card--brown
