.hero {
  height: 1000px;
  width: 1570px;
  position: relative;
  display: flex;
}
.menu {
  display: none;
}
.aside {
  width: 112px;
  background-color: $white;
  box-shadow: 1px 0 14px 0 rgba(0, 0, 0, 0.2);
  height: 100%;
  z-index: 140;
}
.aside__logo {
  padding: 30px 30px 15px;
}
.acord {
  height: 395px;
  .acord__block--one {
    transform: translateY(0);
    transition: all .5s ease;
    z-index: 10;
  }
  .acord__block--two {
    height: 198px;
    transition: all .5s ease;
    z-index: 5;
    transform: translateY(0px);
  }
  .acord__block--three {
    transform: translateY(0px);
    z-index: 10;
    transition: all .5s ease;
  }
  &--active {
    .acord__block--one {
      transform: translateY(110px);
      transition: all .5s ease;
    }
    .acord__block--two {
      animation: asideHide 500ms 1 ease;
      transition: all .5s ease;
      height: 0;
      transform: translateY(110px);
    }
    .acord__block--three {
      transform: translateY(110px);
      transition: all .5s ease;
    }
  } 
}
@keyframes asideHide {
  from {
    transform: translateY(0);
    height:198px;
  }
  to {
    transform: translateY(110px);
    height:0;
  }
}
.acord__block {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 18px;
  text-align: center;
}
.acord__block--one {
  height: 85px;
  background-color: #37b1a8;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: -0.5px;
  color: #ffffff;
}
.acord__block--two {
  background-color: #1da197;
  height: 198px;
}
.aside-list__item {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: -0.39px;
  color: $white;
 }
 .acord__block--three {
  height: 112px;
  background-color: #1c5394;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: -0.5px;
  text-align: center;
  color: $white;
}
.main {
  width: 498px;
  position: relative;
}
.main-wrap {
  height: 100%;
  padding: 30px 34.5px 30px 29.5px;
  position: relative;
  overflow: hidden;
  transition: all .3s ease;
  &:before {
    content: '';
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-image: url(../images/content/girl.png);
    background-repeat: no-repeat;
    background-size: 100%;
    transition: all .3s ease;
    transform: scale(1);
  }
  &:hover {
    .main-content {
      transform: translateY(-15px);
      transition: all .3s ease;
    }
    &:before {
      transform: scale(1.1);
      transition: all .3s ease;
    }
  }
}
.main__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
}
.burger {
  display: block;
  width: 30px;
  height: 20px;
  cursor: pointer;
  position: relative;
  &__line {
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    background: $white;
    pointer-events: none;
    &--1 {
      top: 0;
    }
    &--2 {
      top: 8px;
    }
    &--3 {
      top: 16px;
    }
  }
}
.nav-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 20px;  
  &__item_link {
    font-size: 17px;
    font-weight: 400;
  }
}
.main-content {
  transform: translateY(0);
  transition: all .3s ease;
}
.main__title {
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 0;
  color: $white;
  margin-bottom: 29px;
  .medium-65 {
    margin-bottom: 15px;
  }
  .light-24 {
    margin-bottom: 5px;
  }
}
.main__title_span {
  display: block;
}
.menu {
  background-color: #cccccc;
  color: #181818;
  position: absolute;
  top: 0;
  left: 0;
  padding: 110px 30px 22px;
  width: 620px;
  height: 100%;
  box-shadow: 1px 0 14px 0 rgba(0, 0, 0, 0.2);
  transform: translateX(-120%);
  display: flex;
  flex-direction: column;
  will-change: transform;
  z-index: 30;
  pointer-events: auto;
  transition: all 600ms ease;
  &--visible {
    transform: translateX(0%);
    transition: all 600ms ease;
  }
}
.menu__btn-back {    
  position: absolute;
  top: 25px;
  left: 28px;
  min-width: 200px;
  color: $white;
  font-weight: 500;
  font-size: 22px;
  text-transform: none;
  padding-left: 55px;
  opacity: 0;
  z-index: -100;
  transition: all 300ms ease;
  &:before {
    content:"";
    position: absolute;
    left: 0;
    top: calc(50% - 10px);
    height: 20px;
    width: 30px;
    background-image: url(../images/icons/arrow-white-left.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }
  &--visible {
    opacity: 1;
    z-index: 40;
    transition: all 300ms ease;
  }
}
.menu__content {
    opacity: 0;
  animation: menuContentHide 500ms 1 ease;
  &--visible {
    animation: menuContentShow 300ms 1 ease;
    opacity: 1;
  }
}
@keyframes menuContentShow {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes menuContentHide {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(10%);
  }
}
.menu__block {
  display: flex;
  margin-bottom: 40px;
}
.menu__list {
  width: 50%;
  padding-right: 20px;
}
.menu__link {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
  color: #030303;
  display: inline-block;
}
.like-vk {
  background-color: #426b99;
  display: flex;
  padding: 10px 15px 10px 45px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.4px;
  width: 33%;
  &:before {
    content: '';
    position: absolute;
    left: 14px;
    top: calc(50% - 9px);
    height: 18px;
    width: 26px;
    background-image: url(../images/icons/vk.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }
}
.like-vk__num {
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  right: 14px;
  top: calc(50% - 8px);
}
.slider {
  width: 960px;
  background-color: #f0f1f2;
}
.slider__wrap {
  padding: 17.6px 0 0 18px;
}
.slider__block {
  display: flex;
  flex-wrap: wrap;
  .card:nth-child(odd){
    margin-right: 15px;
  }
}
.card {
  min-height: 410px;
  max-width: 410px;
  flex: 1 1 410px;
  margin-bottom: 15px;
  overflow: hidden;
}
.card-promo {
  transform: translateX(1000px);
  transition: all 1s ease;
  &:hover {
    .card-promo__pic {
      transition: all .3s ease;
      transform: scale(1.1);
    }
    .card-promo__content {
      transition: all .3s ease;
      height: 50%;
      transform: translateY(-25px);
    }
  }
}
.card-promo__pic {
  background-repeat: no-repeat;
  background-size: cover;
  height: 56%;
  transition: all .3s ease;
  z-index: 5;
}
.card-promo__content {
  height: 44%;
  background-color: $white;
  padding: 37px 43px 17px;
  z-index: 6;
  transition: all .3s ease;
  p {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #4a4a4a;
    margin-bottom: 24px;
  }
}
.date {
  font-size: 12px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.86px;
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
}
.card-news {
  background-color: #1c5394;
  padding: 28px 0;
  transform: translateX(2000px);
  transition: all 1.3s ease;
}
.card-news__date {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  color: $white;
  margin-bottom: 40px;
}
.card-news__content {
  padding: 0 30px;
  margin-bottom: 47px;
  p {
    font-size: 28px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: center;
    color: $white;
  }
}
.card-map {
  background-color: #e9e5dc;
  max-width: 836px;
  position: relative;
  transform: translateX(1000px);
  transition: all .7s ease;
}
.card-map__adres {
  background-color: $white;
  width: 391px;
  height: 251px;
  position: absolute;
  top: 24px;
  left: 21px;
}
.card-map__adres_top {
  width: 100%;
  height: 53.9px;
  border-bottom: 2px solid #eaeaea;
}
.card-map__adres_bottom {
  width: 100%;
}
.card--orange {
  background-color: #f4c22d;
  transform: translateX(1000px);
  transition: all .9s ease;
}
.card--beige{
  background-color: #fdf2d2;
  transform: translateX(1000px);
  transition: all 1.1s ease;
}
.card--light-beige{
  // background-color: #f4f7e6;
  background-color: #00a8ff;
  transform: translateX(1000px);
  transition: all .7s ease;
}
.card--brown{
  background-color: #666841;
  transform: translateX(1000px);
  transition: all 1.2s ease;
}
.owl-item {
  overflow: hidden;
  &.active {
    .card-promo {
      transform: translateX(0px);
      transition: all 1s ease-in-out;
    }
    .card-news {
      transform: translateX(0px);
      transition: all 1.3s ease-in-out;
    }
    .card-map {
      transform: translateX(0px);
      transition: all .7s ease-in-out;
    }
    .card--orange {
      transform: translateX(0px);
      transition: all .9s ease-in-out;
    }
    .card--beige {
      transform: translateX(0px);
      transition: all 1.1s ease-in-out;
    }
    .card--light-beige {
      transform: translateX(0px);
      transition: all .7s ease-in-out;
    }
    .card--brown {
      transform: translateX(0px);
      transition: all 1.2s ease;
    }
  }
}
.owl-nav {
  width: 109px;
  position: absolute;
  top: 0;
  right:0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f1f2;
}
.owl-prev {
  display: none;
}
.owl-next {
  z-index: 20;
}
.owl-next {
  height: 60.4px;
  width: 60.4px;
  border-radius: 50%;
  background-color: $white;
  span {
    content:"";
    position: absolute;
    right: calc(50% - 12px);
    top: calc(50% - 10.5px);
    height: 21px;
    width: 24px;
    background-image: url(../images/icons/arrow-blue.png);
    background-repeat: no-repeat;
    background-size: 24px 21px;
    background-position: center;
  }
}